header
{
    background-color: rgba(211, 211, 211, 0.382);
        height: 15vh;
    box-shadow: 0 1px 7px rgb(129, 129, 129)
}

.menu-btn
{
    border: none !important;
    border-radius: 0 !important;
}

.add-btn
{
    border: 2px solid black !important;
}

.add-btn:hover
{
    transform: scale(1.1);
    background-color:#7ce019d8;
    transition: all 0.2s ease-in-out;
}

.add-btn:active
{
    transform: scale(1);
}
.menu-btn.active
{
    color: #28a745 !important;
    border-bottom: 3px solid #28a745 !important;
}